<div class="container p-4">
    <div class="row">
        
        

            <div class="col-md-13">
                <div class="card text-center">
                    <div class="card-body">
                        <table border="1" class="default">
                            
                            <tr>
                                <td bgcolor="blue">Matricula</td>
                                <td bgcolor="blue">Tema</td>
                                <td bgcolor="blue">Materia</td>
                                <td bgcolor="blue">Forma de ensenanza</td>
                                <td bgcolor="blue">Tipo de tarea</td>
                                <td bgcolor="blue">Calificacion</td>
                                <td bgcolor="blue">Error 1</td>
                                <td bgcolor="blue">Error 2</td>
                                <td bgcolor="blue">Error 3</td>
                                <td bgcolor="blue">Error 4</td>
                                <td bgcolor="blue">Error 5</td>
                                <td bgcolor="blue">Error 6</td>
                                <td bgcolor="blue">Acciones correctivas</td>
                            </tr>
                            {{#each cursos}}
                            <tr>
                                <td>
                                    {{matricula}}
                                </td>
                                <td>
                                    {{tema}}
                                </td>
                                <td>
                                    {{Materia}}
                                </td>
                                <td>
                                    {{forma_ensenanza}}
                                </td>
                                <td>
                                    {{Tipo_tarea}}
                                </td>
                                <td>
                                    {{Calif}}
                                </td>
                                <td>
                                    {{Err_cometido1}}
                                </td>
                                <td>
                                    {{Err_cometido2}}
                                </td>
                                <td>
                                    {{Err_cometido3}}
                                </td>
                                <td>
                                    {{Err_cometido4}}
                                </td>
                                <td>
                                    {{Err_cometido5}}
                                </td>
                                <td>
                                    {{Err_cometido6}}
                                </td>
                                <td>
                                    {{Acc_correctivas}}
                                </td>
                                
                            </tr>
                            {{/each}}
                        </table>
                    </div>
                </div>
            </div>
        

    </div>
</div>